* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 20rem 1fr 10rem;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background: #eee;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: stretch;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    width: 40rem;
    align-self: flex-start;
}

    aside h1 {
        color: #444;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

.sort-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 5rem;
    background: white;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px #ccc;
    margin: 1rem 0;
    padding: 2rem;
    font-size: 1.5rem;
}

    .sort-box p {
        color: #3988ca;
        font-weight: bold;
    }

    .sort-box i {
        color: #555;
    }



.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fill, 70rem);
    justify-content: center;
    grid-gap: 4rem;
    padding: 3rem 0rem;
    flex-grow: 1;
}

.review-card {
    display: grid;
    height: 31.5rem;
    grid-template-columns: 45% auto;
    box-shadow: 0.5px 0.5px 3px #222;
}


.review-card-img {
    object-fit: cover;
    object-position: 80% 0%;
    height: 100%;
    width: 100%;
}

.review-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.2rem;
    color: #444;
}

.review-card-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.review-card-category {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: normal;
    color: #222;
}

.review-card-summary {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.review-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-top: auto;
}

.review-card-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: gold;
}

.num-reviews {
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.review-card-button {
    background-color: #2271B3;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-family: 'Fira Sans'
}
