* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #F0F4F8;
    background: white;
}

.container {
    display: grid;
    grid-template-rows: 10rem 1fr 10rem;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 10rem;
    width: 100%;
    background: #2680C2;
    opacity: 1;
    z-index: 3;
}

.navbar {
    font-size: 2rem;
    text-transform: capitalize;
}

    .navbar li {
        display: inline-flex; 
        margin: 0 2rem;
    }

        /*Option 1*/
        /*.navbar li a {
            color: #113955;
            background-color: #aad2ee;
            border: 2px solid #113955;
            box-shadow: 2px 4px 6px #113955;
            border-radius: 1rem;
            padding: 1rem 6rem;
            font-weight: bold;
            transition: 0.4s ease;
        }

            .navbar li a:hover {
                color: #113955;
                background-color: #2680C2;
                border: 2px solid #113955;
                transform: scale(0.95);
                box-shadow: 1px 1px 2px #000000;
            }*/

        /*Option 2*/
        .navbar li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            background-color: #fff;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        .navbar li a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

        .navbar li a {
            position: relative;
            text-decoration: none;
            font-size: 6rem;
            color: #ffffff;
            border-bottom: 4px solid #2680C2;
            transition: 0.4s ease;
        }

            .navbar li a:hover {
                color: transparent;
                -webkit-text-stroke: 2px #ffffff;
            }



main {
    display: flex;
    max-width: 1920px;
    width: 100%;
    justify-self: center;
    grid-row-start: 2;
    background: #F0F4F8;
    background: white;
}
