@model ReviewSite.Models.Review
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <section class="details">
        <h2>@Model.Title</h2>
        <h3>@Model.Category</h3>
        <p>@Model.Content</p>
    </section>
</body>
</html>