@model List<ReviewSite.Models.Review>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reviews Index</title>
    <link href="~/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>

        </header>
        <main>
            <section class="reviews">
                @foreach (var review in Model)
                {
                <div class="review-card">
                    <img src="@review.ImageURL" class="review-card-img" />
                    <div class="review-card-content">
                        <h2>@review.Title</h2>
                        <h3>@review.Category</h3>
                        <p>@review.Summary</p>
                        <a href="/Review/Details/@review.Id">Details</a>
                    </div>
                </div>
                }
            </section>
            <aside>
                
            </aside>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>
