@model List<ReviewSite.Models.Review>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reviews Index</title>
</head>
<body>
    <div class="container">
        <header>

        </header>
        <main>
            <section class="reviews">
                @foreach (var review in Model)
                {
                    <div class="review-card">
                        <h2>@review.Title</h2>
                        <h3>@review.Category</h3>
                        <p>@review.Summary</p>
                        <a href="/Review/Details/@review.Id">Details</a>
                    </div>
                }
            </section>
        </main>
    </div>
</body>
</html>
